certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cycler==0.11.0
Flask==2.0.2
Flask-Cors==3.0.10
fonttools==4.29.1
idna==3.3
importlib-metadata==4.11.0
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.1
networkx==2.6.3
numpy==1.21.5
git+https://github.com/mdolab/OpenAeroStruct.git@e2e3c848687d73710267ef1e30b125f404aa20f3#egg=openaerostruct
openmdao==3.16.0
packaging==21.3
Pillow==9.0.1
pyDOE2==1.3.0
pyparsing==3.0.7
python-dateutil==2.8.2
requests==2.27.1
scipy==1.7.3
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
